<div id="<%= dom_id bill %>">
  <p>
    <strong>Amount:</strong>
    <%= bill.amount %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= bill.type %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= bill.employee_id %>
  </p>

</div>
